@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@theme {
  --color-green-400: hsl(180, 29%, 50%);
  --color-green-50: hsl(180, 52%, 96%);
  --color-gray-400: hsl(180, 8%, 52%);
  --color-green-900: hsl(180, 14%, 20%);

  --font-spartan: "League Spartan", sans-serif;
  --background-image-mb: url("../public/sources/images/bg-header-mobile.svg");
  --background-image-dk: url("../public/sources/images/bg-header-desktop.svg");
}

@layer components {
  .card {
    @apply rounded bg-white shadow-2xl shadow-green-400/35;
  }
  .bg-img {
    @apply bg-mb md:bg-dk absolute left-0 z-0 h-38 w-full bg-green-400 bg-cover bg-no-repeat;
  }

  .mg-x {
    @apply mx-4;
  }
  .pd-x {
    @apply px-4;
  }
  .tx-s {
    @apply text-sm;
  }
  .box {
    @apply w-fit rounded-2xl px-3 py-1 text-xs font-semibold text-white uppercase;
  }
  .point {
    @apply h-1 w-1 rounded-full bg-gray-400;
  }
  .word {
    @apply bg-green-400/10 text-sm font-semibold text-green-400 capitalize;
  }
}

body {
  @apply font-spartan bg-green-50 text-[15px];
}
