@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-green-400: hsl(180, 29%, 50%);
  --color-green-50: hsl(180, 52%, 96%);
  --color-gray-400: hsl(180, 8%, 52%);
  --color-green-900: hsl(180, 14%, 20%);

  --font-spartan: "League Spartan", sans-serif;
  --background-image-mb: url("../public/sources/images/bg-header-mobile.svg");
  --background-image-dk: url("../public/sources/images/bg-header-desktop.svg");
}

@layer components {
  .card {
    @apply mx-4 rounded bg-white shadow-2xl shadow-green-400/35 md:mx-auto md:max-w-2xl lg:max-w-5xl xl:max-w-6xl 2xl:max-w-7xl;
  }

  .featured {
    @apply before:absolute before:top-0 before:left-0 before:h-full before:w-1 before:rounded-l before:bg-green-400 xl:before:w-2;
  }
  .bg-img {
    @apply bg-mb md:bg-dk absolute left-0 z-0 h-38 xl:h-52 w-full bg-green-400 bg-cover bg-no-repeat;
  }
  .pd-x {
    @apply px-5 md:px-6 lg:px-8 xl:px-10 2xl:px-12;
  }
  .tx-s {
    @apply text-sm lg:text-base;
  }

  .status {
    @apply text-base/4 md:text-lg/4
  }
  /* 🐜 this for new and featured box */
  .box {
    @apply w-fit rounded-2xl px-3 pt-2 pb-1 text-sm/3 lg:pb-2 font-semibold text-white uppercase 
    lg:text-base/4 flex items-center ;
  }
  .point {
    @apply h-1 w-1 rounded-full bg-gray-400 xl:h-2 xl:w-2;
  }
  .word {
    @apply bg-green-400/10 text-sm font-bold text-green-400 capitalize md:text-base;
  }
}

body {
  @apply font-spartan bg-green-50 text-[15px];
}
